       <div class="container" >
     <form action="/user-address"method="post" id="form">         
            <input class="box h-5" type="text" name="address" 
            id="address" value={{address.address}} /><br>

                        <br>
            <input type="submit" id="submit"  
            name="submit" value="submit" /><br>
                      
            </form>

       </div>  