
    <section class="vh-100 gradient-custom image_bg">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card  text-white" style="border-radius: 1rem;background-color: #0b0b0b;">
          <div class="card-body p-5 text-center">
            
            <div class=" pb-1">
                <div class=" main" id="error">
             <form action="/changePass" method="post" id="form">
            {{#if signupErr}}
                   <p class="error">{{signupErr}}</p>
            {{/if}}
              <h2 class="fw-bold mb-2 text-uppercase">Change Password</h2>
              <div class="form-outline form-white ">
                <label class="fw-bold form-label" for="password">Enter OldPassword</label>
                <input type="password" id="password" name="password" class="form-control form-control-lg"  required/>
              </div>
              <div class="form-outline form-white ">
                <label class="fw-bold form-label" for="newPassword">Enter newPassword</label>
                <input type="password" id="newPassword" name="newPassword" class="form-control form-control-lg"  required/>
              </div>

              <div class="form-outline form-white ">
                <label class="fw-bold form-label" for="Confirm">Confirm Password</label>
                <input type="password" id="Confirm" name="Confirm" class="form-control form-control-lg" required />
              </div>

              <button class="btn btn-outline-dark fw-bold btn-lg px-5" id="submitDetails" name="submitDetails" type="submit">Change</button>

            </div>

            
           </form>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

    
    <script>
        const name = document.getElementById('name')
        const password = document.getElementById('password')
        const form = document.getElementById('form')
        const errorElement = document.getElementById('error')
        const email = document.getElementById('email')
        
       
        form.addEventListener("submit",(e)=>{
            let messages = []
            if(password.value.length<=2) messages.push('Passwords must atleast contain 3 characters ') 
            if(password.value.length>=20) messages.push('password cant be longer than 19 characters')  
            if(name.value==null) messages.push('null value cant be considered as a valid username')
            if(name.value.trim()=="") messages.push('This kind of Usernames are not allowed')
            if(password.value.trim()=="") messages.push('Blank passwords are not allowed')
            if(messages.length>0){
                 e.preventDefault()
                 errorElement.innerText = messages.join('+')
            }  
        })
    </script>